@import "tailwindcss";

@theme {
  --color-bg: #F9F7F1;
  --color-line: #C44D58;
  --color-text: #3E4095;
  --color-accent: #EFD6AC;

  --font-disp: 'Archivo', sans-serif;
  --font-mono: 'Space Mono', monospace;
}
